<div id="gridContent">

<div id="back" *ngIf="loginForEdit==null" (click)="logout()" class="mainBlock">
  <p>Logout</p>
</div>
<div id="back" *ngIf="loginForEdit!==null && admin" (click)="resetEdit()" class="mainBlock">
  <p>back</p>
</div>
<div *ngIf="admin" id="userList" class="mainBlock">

  <form id="loadForm" *ngIf = "admin" (ngSubmit)="submitLoad(newUserName, newUserPassword, file, loadButton, loadForm)" #loadForm="ngForm" ngNativeValidate>
    <h2>Добавить нового пользователя:</h2>
    <input #newUserName pattern="[a-zA-Z0-9]*" name = "newUserName" type="text" placeholder="Новый пользователь" required><br>
    <input #newUserPassword pattern="[a-zA-Z0-9]*" ngModel name = "newUserPassword" type="text" placeholder="Новый пароль"><br>
    <input #file ngModel class="form-control" type= "file" name="file" multiple required>
    <button #loadButton name="button"  class="form-control" type="submit">Отправить</button> <br>
    {{loadFormStatus}}
  </form>

    <h2>Список пользователей:</h2>
    <input #seach name = "search" type="text" placeholder="Поиск" > <br>
    <ul>
      <li *ngFor="let userInfo of adata"
        [class.selected]="userInfo.login === loginForEdit"
        (click)="checkUser(userInfo)">{{userInfo.login}}</li>
    </ul>

    <div *ngIf="loginForEdit!==null">
        <h1>{{loginForEdit}}:</h1>

      <div class = "left">
        <input #deleteButton
          type = "submit"
          (click) = "delete(loginForEdit, deleteButton)"
          value='Удалить' >
      </div>
      <form id="editForm"
       #editForm="ngForm"
       (ngSubmit) = "updateUser(updateUserName, updateUserPassword, updateButton2)"
       ngNativeValidate >
        <div class = "center">
          <input pattern="[a-zA-Z0-9]*" #updateUserName name = "updateUserName" type="text" placeholder={{loginForEdit}} required><br>
          <input pattern="[a-zA-Z0-9]*" #updateUserPassword name = "updateUserPassword" type="text" placeholder="Новый пароль"><br>
        </div>
        <div class = "right">
          <button #updateButton2 type="submit">Сменить пароль</button> <br>
        </div>
        {{editFormStatus}}
      </form>
    </div>

  </div>

  <div id="mainBlockContent" *ngIf = "images !== null && images[0].src!==null" >

    <form #updateForm='ngForm'>
      <div *ngFor = "let image of images" name = "contentBlock">

        <div id="imageBlock">
          <img src={{image.src}} /><br>
          <input *ngIf = "admin" [name] = "image.name" type="text" [(ngModel)]="image.name"><br>
          <label>{{image.name}}</label>
          <button *ngIf="admin" #delete (click)="deleteImg(image, delete)">delete</button>
        </div>

      </div>
      <button #updateButton *ngIf = "images !== null && admin" type = "submit" (click) = "updateUser(null, null, updateButton)">Сохранить изминения</button>
    </form>

  </div>

</div>
