#gridMain {
  display: grid;
  grid-template-columns: 1fr 300px 1fr;
}

#auth {
  margin-bottom: 50px;
  display: grid;
  justify-items: center;
  justify-content: center;
  justify-self: center;
  border-top: 0;
  grid-column: 2 / 2;
}
#auth input {
  width: 150px;
  margin: 10px
}
#auth button {
  width: 80px;
  height: 22px;

}
